<nav>
  <div class="contacts">
    <div class="contacts__name">
      <a href="/" class="title-link">{{ site.name }}</a>
    </div>
    <div class="contacts__info">
      <div class="contacts__position">{{ site.position }},</div>
      <span id="age">{{ site.age }}</span> @ {{ site.location }}
    </div>
  </div>

  <menu class="menu-container">
    <ul class="menu">
      {% for my_page in site.pages %}
        {% if my_page.title %}
          <li class="menu__item">
            <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% for link in site.links %}
        {% if link.title %}
          <li class="menu__item">
            <a href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </menu>

  <div class="email">
    <b>Почта</b>
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    <br>
    <b>Telegram</b>
    <a href="https://t.me/{{ site.telegram }}">@{{ site.telegram }}</a>
  </div>
</nav>
