@font-face {
  font-family:Graphik LC;
  src:url(/assets/Graphik-Bold-Cy-Web.eot);
  src:url(/assets/Graphik-Bold-Cy-Web.eot?#iefix) format("embedded-opentype"),url(/assets/Graphik-Bold-Cy-Web.woff) format("woff"),url(/assets/Graphik-Bold-Cy-Web.ttf) format("truetype"),url(/assets/Graphik-Bold-Cy-Web.svg#Graphik-Bold-Cy) format("svg");
  font-weight:700;
  font-style:normal
}

@font-face {
  font-family:Graphik LC;
  src:url(/assets/Graphik-Regular-Cy-Web.eot);
  src:url(/assets/Graphik-Regular-Cy-Web.eot?#iefix) format("embedded-opentype"),url(/assets/Graphik-Regular-Cy-Web.woff) format("woff"),url(/assets/Graphik-Regular-Cy-Web.ttf) format("truetype"),url(/assets/Graphik-Regular-Cy-Web.svg#Graphik-Regular-Cy) format("svg");
  font-weight:400;
  font-style:normal;
  font-stretch:normal
}

html, body {
  -webkit-overflow-scrolling: auto;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  font-family: "Graphik LC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #444;
  font-size: 18px;
}

:focus {
  outline: none;
}

a {
  border-bottom: 1px solid #B5D9F1;
  text-decoration: none;
  color: #45A1DC;
}

a:hover {
  color: #B5D9F1;
}

a img {
  border: none;
}

h1, h2, h3 {
  line-height: 1.2;
}

p, h3 {
  padding: 0;
  margin: 0;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
  content: url(external-link.png);
  margin: 0 0 0 2px;
}

img, .product-tags {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#content *::selection {
  background: none repeat scroll 0% 0% #D6EDFC;
}

#content *::-moz-selection {
  background: none repeat scroll 0% 0% #D6EDFC;
}

.contacts__name {
  font-size: 25px;
}

.contacts__info {
  font-size: 14px;
  padding: 10px 0 0 0;
}

footer {
  height: 339px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.page {
  padding-top: 30px;
  padding-left: 60px;
  width: 1000px;
  padding-bottom: 380px;
}

.menu {
  width: 100%;
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
  margin-top: 20px;
  list-style-type: none;
  line-height: 36px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.menu__item {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.game {
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  height: 339px;
}

.menu-container {
  margin: 0;
  padding: 0;
}

nav {
  flex: 0 0 230px;
  text-align: center;
  background: white;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 0 0 60px;
  flex-grow: 3;
}

.page {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.email {
  font-size: 14px;
}

@media (max-width: 800px) {
  html, body {
    font-size: 16px;
    line-height: 1.2;
  }

  .page {
    flex-direction: column;
    width: auto !important;
    padding-left: 0px !important;
    padding-top: 20px !important;
  }

  .email {
    display: none;
  }

  nav {
    flex: 0 0 0;
    margin-bottom: 10px;
  }

  .contacts__position {
    display: inline;
  }

  .contacts__info {
    padding: 10px 18px 0 18px;
  }

  .menu {
    padding: 10px 0 10px 0;
    line-height: 1.5;
  }

  menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 13px !important;
  }

  main {
    padding-right: 30px;
    padding-left: 30px;
  }

  main p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px !important;
  }
}

.additional {
  padding: 0 50px 50px 50px;
}

.additional h2 {
  padding: 0;
  margin: 0;
  font-size: 48px;
}

.additional ul li {
  list-style-type: none;
}

.additional ul li:before {
  content: "— ";
}

.product-tags {
  float: left;
  text-align: left;
}

.product-tag {
  color: white;
  padding: 5px 10px 8px 10px;
  margin: 2px;
  background: #4779f6;
  border-radius: 15px;
  font-size: 10px;
}

.products__item {
  margin: 0px 10px 20px 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.products__item:last-child {
  border: 0;
  padding-bottom: 0;
}

.product-description {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 16px;
}

.product-icon {
  display: inline-block;
  padding-right: 2px;
  vertical-align: middle;
  height: 20px;
}

.product-header {
  height: 30px;
}

.product-title {
  display: inline-block;
  font-size: 14px;
  vertical-align: baseline;

  color: #282425;
  font-weight: 900;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

.product-link {
  padding-top: 7px;
  padding-right: 10px;
  float: right;
  font-size: 12px;
}

.product-link-passive:hover {
  cursor: default !important;
}

main ul, main ol {
  margin-left: 27px;
}

main ul li:before {
  content: "— ";
  display: inline-block;
  width: 7px;
  margin: 0 0 0 -25px;
  text-align: center;
  font-size: 0.9em;
  position: absolute;
}

ul p, main p, ul {
  line-height: 1.7;
  padding-bottom: 5px;
}

main ul p {
  margin: 0px;
}

main p {
  margin: 20px;
}

main pre {
  margin: 20px;
  background: rgba(0,0,0,0.02);
  padding: 15px;
}

main ul {
  padding: 0;
  list-style: none;
}

main h1, main h2 {
  margin: 0;
  padding: 0;
  color: #282425;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

main h2  {
  font-size: 20px;
}

.left {
  float: left;
}

.right {
  float: left;
}

.clear {
  clear: both;
}
