---
layout: default
---

<main>
  <div class="products">
    {% for product in site.products %}
    <section class="products__item">
      <div class="product-info">
        <div class="product-header">
          <img class="product-icon" src="{{ product.icon }}" />
          <span class="product-title">{{ product.title }}</span>
        </div>
        <div class="product-description">{{ product.description }}</div>
        <div class="product-link">
          {% if product.url == "unknown" %}
            <a target="_blank" class="product-link-passive">Unavailable</a>
          {% else %}
            <a href="{{ product.url }}" target="_blank" class="product-link-active">Go to the site</a>
          {% endif %}
        </div>
        <div class="product-tags">
        {% for tag in product.tags %}
          <span class="product-tag">{{ tag }}</span>
        {% endfor %}
        </div>
      </div>
    </section>
    <hr />
    {% endfor %}
  </div>
</main>
